<div class="container">
    <div class="header">
        <p class="sub-title">The Diamond Journal</p>
        <p class="regular">Stay informed with curated insights on luxury investments, rare gemstones, exclusive member privileges, and the evolving world of premium digital assets. Our latest articles are crafted to inspire, educate, and elevate your Diamond Club experience.</p>
    </div>
    <div class="content">
        <div class="card">
            <img src="/svg/image-4.svg" alt="diamond">
            <div class="card-footer">
                <p class="journal-title">Diamond Club — Transparency in Business: Why Openness Matters</p>
                <p class="journal-subtitle">Jan 9 • 2 min read</p>
            </div>
        </div>
         <div class="card">
            <img src="/svg/image-5.svg" alt="diamond">
            <div class="card-footer">
                <p class="journal-title">Redefining Wealth Creation with Diamond Club: Innovation, Purpose, and Transpare...</p>
                <p class="journal-subtitle">Dec 17, 2024 • 5 min read</p>
            </div>
        </div>
         <div class="card">
            <img src="/svg/image-6.svg" alt="diamond">
            <div class="card-footer">
                <p class="journal-title">Our Startup Journey: Building Diamond Club from the Ground Up</p>
                <p class="journal-subtitle">Nov 20, 2024 • 2 min read</p>
            </div>
        </div>
    </div>
</div>