* {
  color: white;
  background: transparent;
}
img {
  width: 20px;
  height: 20px;
}

.regular {
  color: #8c8c8c;
}

.phase-list {
  color: #8c8c8c;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1086px;
}
.header {
  margin: 0px 120px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header-footer {
  display: flex;
  gap: 10px;
}
.button {
  padding: 12px 14px 12px 14px;
  border-radius: 10px;
}

.view {
  background: linear-gradient(to right, #e6c486, #f0d39f, #ba944f);
  color: #000000;
}
.border {
  padding: 12px 14px 12px 14px;
  border-radius: 10px !important;
  position: relative;
}
.border::before {
  content: " ";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1.3px;
  background: linear-gradient(#e6c486, #f0d39f, #ba944f);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.read {
  width: fit-content;
  color: transparent;
  background: linear-gradient(to right, #986f25, #fde6bd, #eec781, #a1772c);
  background-clip: text;
}
.grid-cards {
  display: grid;
  grid-template-rows: 208px 208px 70px 236px;
  grid-template-columns: 428px 305px 282px;
  gap: 30px;
}

.community-rewards {
  grid-column: 1/1;
  grid-row: 1/3;
  overflow: hidden;
}
.staking-rewards {
  grid-column: 2/-1;
  grid-row: 1/1;
}
.utility {
  grid-column: 2/2;
  grid-row: 2/2;
}
.membership-perk {
  grid-column: 3/3;
  grid-row: 2/4;
}
.token {
  grid-column: 1/3;
  grid-row: 3/3;
}
.access {
  grid-column: 1/3;
  grid-row: 4/4;
}
.price {
  grid-column: 3/3;
  grid-row: 4/4;
}
.community-rewards,
.staking-rewards,
.utility,
.access {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 32px;
  border-radius: 20px !important;
  background: linear-gradient(#ffffff1f, #ffffff0a, #ffffff12) !important;
  backdrop-filter: blur(84px) !important;
}
.border-line::before {
  content: " ";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.32),
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.16)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.access {
  position: relative;
  overflow: hidden;
}
.diamond {
  position: absolute;
  bottom: 0;
  right: 0;
}
.price {
  border-radius: 20px;
  padding: 30px 20px 30px 20px;
  background: linear-gradient(#ffffff1f, #ffffff0a, #ffffff12);
  position: relative;
}

.price::before {
  content: " ";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.32),
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.16)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.membership-perk {
  padding: 20px;
  border-radius: 20px !important;
  background: linear-gradient(#ffffff1f, #ffffff0a, #ffffff12) !important;
  backdrop-filter: blur(84px) !important;
  position: relative;
}
.membership-perk::before {
  content: " ";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.32),
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.16)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.community-reward-content,
.staking-content,
.access-content,
.price-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.utility-content,
.perk-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.token {
  border-radius: 12px !important;
  padding: 22px 32px 22px 32px !important;
  background: linear-gradient(#ffffff1f, #ffffff0a, #ffffff12) !important;
  position: relative;
}
.token::before{
    content: " ";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.32),
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.16)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.token-content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.underline {
  text-decoration: underline;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ul li {
  display: flex;
  gap: 10px;
}
