<div class="container">
  <div class="header">
    <div class="header-content">
      <div class="header-title">
        <p class="sub-title">Diamond Token (DIT)</p>
        <p class="regular">
          Tokens are used as a utility or medium of exchange in the marketplace.
          Each token holds a minimum value of €0.1 in the diamond jewelry shop.
          Tokens are used as a utility or medium of exchange in the marketplace.
          Each token holds a minimum value of €0.1 in the diamond jewelry shop.
        </p>
      </div>
      <div class="header-footer">
        <p class="button view">View Tokenomics</p>
        <p class="button read">Read Whitepaper</p>
      </div>
    </div>
  </div>
  <div class="grid-cards">
    <div class="community-rewards">
      <div class="community-reward-content">
        <p class="profile-card-title">Community Rewards</p>
        <ul>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">
              Earn Up to 2% in Community Rewards with DIT
            </p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">
              Utility Rewards Powered by Diamond Club Sales
            </p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">Engage. Redeem. Earn Rewards.</p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">
              Earn passive rewards from global diamond sales with Diamond Club
              NFTs.
            </p>
          </li>
        </ul>
      </div>
      <p class="logo">100M DIT</p>
      <!-- <img src="/svg/100M DIT (1).svg" alt="logo" style="height: 100%;width: 100%;"> -->
    </div>
    <div class="staking-rewards">
      <div class="staking-content">
        <p class="profile-card-title">Staking Rewards</p>
        <ul>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">
              Stake DIT – Earn Utility Rewards from Diamond Club Sales
            </p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">
              Up to 8% in Ecosystem Rewards for Staking DIT
            </p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">
              Stake & Spend – Rewards Tied to Real Utility
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="utility">
      <div class="utility-content">
        <p class="profile-card-title">Asset-Backed Utility</p>
        <p class="phase-list">
          Every DIT token is backed by genuine diamond jewelry — bringing real
          value into your wallet.
        </p>
      </div>
    </div>
    <div class="membership-perk">
      <div class="perk-content">
        <p class="profile-card-title">Membership Perks</p>
        <ul>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">More Tokens. Higher Tier. Greater Benefits</p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">Your Tier, Your Luxury Experience</p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">Membership Tiers Unlock More Utility</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="token">
      <div class="token-content">
        <p class="phase-list">Token Address:</p>
        <p class="phase-list underline">
          0xbfa362937BFD11eC22a023aBF83B6dF4E5E303d4
        </p>
        <img
          src="/svg/Frame.svg"
          alt="frame"
          style="width: 24px; height: 24px"
        />
      </div>
    </div>
    <div class="access">
      <div class="access-content">
        <p class="profile-card-title">Marketplace Access</p>
        <ul>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">Redeem DIT for Real Diamond Jewelry</p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">Access Exclusive Luxury with Your Tokens</p>
          </li>
          <li>
            <img src="/svg/single-tick.svg" alt="tick" />
            <p class="phase-list">Turn Tokens into Tangible Elegance</p>
          </li>
        </ul>
      </div>
      <img
        src="/svg/sparkly-gold-diamond-icon 1.svg"
        alt="diamond"
        style="width: auto; height: auto"
        class="diamond"
      />
    </div>
    <div class="price">
      <div class="price-content">
        <p class="profile-card-title">Price</p>
        <ul>
          <li>
            <img src="/svg/db.svg" alt="db" style="height: 22px; width: 20px" />
            <p class="phase-list">Listing Rate: 10 DIT = 1€ (1 USDT = 9.253 DIT)</p>
          </li>
          <li>
            <img src="/svg/db.svg" alt="db" style="height: 22px; width: 20px" />
            <p class="phase-list">Presale Rate: 11 DIT = 1€ (1 USDT = 10.582 DIT)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
