<div class="body">
  <div class="event-container">
    <div class="container-header">
      <div class="container-header-content">
        <div>
          <p class="sub-title heading">Upcoming Events</p>
        </div>
        <div>
          <p class="regular about">
            Discover exclusive gatherings, private showcases, and member-only
            experiences hosted by Diamond Club. Stay informed and be a part of
            events that reflect the elegance and values of our community
          </p>
        </div>
      </div>
    </div>
    <div class="event-section">
        <div class="card">
          <div class="card-logo">
              <img src="/svg/image.svg" alt="cardLogo" />
              <div class="card-button">
              <p class="event-button border-line">Pre - Sale Access</p>
              </div>
          </div>
          <div class="card-info">
            <p class="event-time">Jul 29, 2025 - 05:00PM</p>
            <div class="card-content">
              <p class="event-members">Blue Diamond Members Meetup</p>
              <div class="card-footer">
                <img src="/svg/Location03Icon.svg" alt="vector" />
                <p class="event-location">Dubai Marina, Dubai, UAE</p>
              </div>
            </div>
          </div>
      </div>
        <div class="card">
          <div class="card-logo">
              <img src="/svg/image2.svg" alt="cardLogo" />
              <div class="card-button">
              <p  class="event-button border-line">Invite Only</p>
              </div>
          </div>
          <div class="card-info">
            <p class="event-time">Aug 8, 2025 - 10:00 AM</p>
            <div class="card-content">
              <p class="event-members">Flawless Diamond Members Meetup</p>
              <div class="card-footer">
                <img src="/svg/Location03Icon.svg" alt="vector" />
                <p class="event-location">Vogue Hall, New York, NY</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-logo">
              <img src="/svg/image3.svg" alt="cardLogo" />
              <div class="card-button">
              <p class="event-button gold-border">Open to All Members</p>
              </div>
          </div>
          <div class="card-info">
            <p class="event-time">Jul 29, 2025 - 05:00PM</p>
            <div class="card-content">
              <p class="event-members">Red Diamond Members Meetup</p>
              <div class="card-footer">
                <img src="/svg/Location03Icon.svg" alt="vector" />
                <p class="event-location">Sunset Park, Los Angeles, CA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
