<div class="event-container">
    <div class="container-header">
        <div class="container-header-content"> 
            <p class="sub-title">
                Upcoming Events
            </p>
            <p>
                Discover exclusive gatherings, private showcases, and member-only experiences hosted by Diamond Club.
            </p>
            <p>
                Stay informed and be a part of events that reflect the elegance and values of our community
            </p>
        </div>
    </div>
    <div class="event-section">
     <div class="event-cards">
        <div class="card">
            <div class="card-logo">
                <div class="image-container">
                    <img src="/svg/image.svg" alt="cardLogo">
                </div>
                <div class="button">
                    <p>Pre - Sale Access</p>
                </div>
            </div>
            <p [style]="color" >Jul 29, 2025 - 05:00PM</p>
            <div class="card-content">
                <p>
                    Blue Diamond Members Meetup
                </p>
                <div class="card-footer">
                    <img src="/svg/Location03Icon.svg" alt="vector">
                    <p>Dubai Marina, Dubai, UAE</p>
                </div>
            </div>
        </div>
    </div>
     <div class="event-cards">
        <div class="card">
            <div class="card-logo">
                <div class="image-container">
                    <img src="/svg/image2.svg" alt="cardLogo">
                </div>
                <div class="button">
                    <p>Invite Only</p>
                </div>
            </div>
            <p [style]="color" >Aug 8, 2025 - 10:00 AM</p>
            <div class="card-content">
                <p>
                    Flawless Diamond Members Meetup
                </p>
                <div class="card-footer">
                    <img src="/svg/Location03Icon.svg" alt="vector">
                    <p>Vogue Hall, New York, NY</p>
                </div>
            </div>
        </div>
    </div>
     <div class="event-cards">
        <div class="card">
            <div class="card-logo">
                <div class="image-container">
                    <img src="/svg/image3.svg" alt="cardLogo">
                </div>
                <div>
                    <p [style]="premium">Open to All Members</p>
                </div>
            </div>
            <p [style]="color" >Jul 29, 2025 - 05:00PM</p>
            <div class="card-content">
                <p>
                    Red Diamond Members Meetup
                </p>
                <div class="card-footer">
                    <img src="/svg/Location03Icon.svg" alt="vector">
                    <p>Sunset Park, Los Angeles, CA</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>