* {
  color: white;
}
.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}
.container-header {
  display: flex;
  margin: 0px 166px;
}
.container-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}
.heading {
  color: transparent;
  background: linear-gradient(to right, #ffffff, #ffffff 60%);
  background-clip: text;
}
.about {
  color: #8c8c8c;
}
.event-section {
  display: flex;
  gap: 34px;
}
.card-logo {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.image-container img {
  border-radius: 14px;
}
.card-button p {
  position: absolute;
  top: 14px;
  left: 14px;
  background: linear-gradient(to right, #ffffff0a 70%, #ffffff1f, #ffffff12);
  padding: 5px 8px 5px 8px;
  backdrop-filter: blur(30px);
  border-radius: 7px;
}
.event-button {
  color: #f5f5f5;
}
.event-time {
  color: #b3b3b3;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.event-members {
  color: #f5f5f5;
}

.card-footer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.event-location {
  color: #ffffffcc;
}
.card-footer img {
  height: 20px;
  width: 20px;
}
