<div class="roadMap-container">
  <div class="header">
    <h1>Roadmap</h1>
  </div>
  <div class="header-bottom-line"></div>
  <div class="roadMap-content">
    <div class="content-body">
      <div class="logo">
        <div class="vector-logo">
          <div>
            <div class="vectorLogo-1">
              <img src="/svg/Vector.svg" alt="vector" />
            </div>
            <div class="vectorLogo-2">
              <img src="/svg/Vector.svg" alt="vector" />
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          <p>1st Quarter 2025</p>
          <p>Pioneer Campaign and Pre-Sale</p>
        </div>
        <div class="content-list">
          <ul>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Pioneer Campaign & Pre-sale
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Marketing and Promotion
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Community Engagement
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Technical Testing
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="logo">
        <div class="vector-logo">
          <div>
            <img src="/svg/Ellipse 19.svg" alt="dot">
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          <p>2nd Quarter 2025</p>
          <p>Official Launch of Diamond Club</p>
        </div>
        <div class="content-list">
          <ul>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Public Sale, Platform Launch, Token Listing
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Online Store Opening
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Ongoing Marketing and Expansion
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Community Support
            </li>
             <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Staking Enhancements
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="logo">
        <div class="vector-logo">
          <div>
                <img src="/svg/Ellipse.svg" alt="dot">
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          <p [style]="contentHeader">3rd Quarter 2025</p>
          <p>Ecosystem Enhancement</p>
        </div>
        <div class="content-list">
          <ul>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Partnerships
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Marketing Campaigns
            </li>
            <li>
              <img src="/svg/Frame 38.svg" alt="list" />
              Community-Governed Initiatives
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
