<div class="body">
<div class="roadMap-container">
  <div class="header">
    <h1 class="sub-title heading">Roadmap</h1>
  </div>
  <div class="roadMap-content">
    <div class="line"></div>
    <div class="content-container">
      <div class="content-body p-77">
        <div class="logo">
          <div class="vector-logo">
            <div class="logo-circle">
              <div>
                <img src="/svg/TickDouble01Icon.svg" alt="tick" style="height: 20px;width: 20px;" />
              </div>
              <div class="outer-circle"></div>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <p class="phase">1st Quarter 2025</p>
            <p class="phase-title">Pioneer Campaign and Pre-Sale</p>
          </div>
          <div class="content-list">
            <ul>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Pioneer Campaign & Pre-sale
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Marketing and Promotion
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Community Engagement
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Technical Testing
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="logo">
          <div class="vector-logo">
            <div class="logo-circle">
              <div>
                <img
                  src="/svg/Ellipse 19.svg"
                  alt="tick"
                  style="height: 14px; width: 14px"
                />
              </div>
              <div class="outer-circle"></div>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <p class="phase">2nd Quarter 2025</p>
            <p class="phase-title">Official Launch of Diamond Club</p>
          </div>
          <div class="content-list">
            <ul>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Public Sale, Platform Launch, Token Listing
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Online Store Opening
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Ongoing Marketing and Expansion
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Community Support
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Staking Enhancements
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="logo">
          <div class="vector-logo">
            <div class="logo-circle">
              <div>
                <img
                  src="/svg/Ellipse.svg"
                  alt="tick"
                  style="height: 14px; width: 14px"
                />
              </div>
              <div class="outer-circle"></div>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <p
              class="phase last-phase"
              style="
                background: linear-gradient(
                  to right,
                  #8f8f8f,
                  #f0f0f0,
                  #e5e5e5,
                  #a9a9a9
                );
                color: transparent;
                background-clip: text;
              "
            >
              3rd Quarter 2025
            </p>
            <p class="phase-title">Ecosystem Enhancement</p>
          </div>
          <div class="content-list">
            <ul>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Partnerships
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Marketing Campaigns
              </li>
              <li class="phase-list">
                <img src="/svg/Frame 38.svg" alt="list" />
                Community-Governed Initiatives
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>