* {
  color: white;
  background-color: transparent;
  font-style: Cabinet Grotesk Variable;
}
.profile-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.profile-header {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
}
.profile-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.regular {
  color: #9f9f9f;
}
.profile-cards {
  display: flex;
  gap: 24px;
}
.profile-card-section {
  padding: 30px 20px 30px 20px;
  border-radius: 20px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ffffff1f, #ffffff0a, #ffffff12);
  backdrop-filter: blur(84px);
}

.profile-card-section div img {
  height: 24px;
  width: 24px;
}

.profile-card-subtitle {
  color: #8c8c8c;
}
.profile-card-section div {
  display: flex;
  gap: 10px;
}

.profile-footer {
  padding: 30px 24px 30px 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(#ffffff1f, #ffffff0a, #ffffff12);
  position: relative;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.profile-footer-cards {
  display: flex;
  gap: 20px;
}

.profile-info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-info-title div {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  backdrop-filter: blur(84px);
}
.profile-info-title div img {
  height: 24px;
  width: 24px;
}
.profile-footer .bg-image {
  position: absolute;
  bottom: -5px;
  right: 0px;
}
.bg-image img {
  opacity: 2%;
}
.profile-info-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-info-content .profile-info-content-card {
  display: flex;
  gap: 16px;
}

.medium {
  text-align: start;
}
.profile-info-content-title {
  width: 120px;
}
.title {
  color: #9f9f9f;
}
.subtitle {
  color: #ebebeb;
}
.profile-social-button {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.small-medium {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: #EBEBEB;
}
.social-button {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 2px 4px 2px 4px;
  background-color: #2b2212;
  border-radius: 4px;
  border: 0.5px solid #c19c5ab2;
}
.social-button div img {
  height: 12px;
  width: 12px;
}

.profile-footer-card-right {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ffbf2b1f, #ffc32b0a, #ffae2b12);
  padding: 30px 24px 30px 24px;
  gap: 12px;
  border-radius: 20px;
}

.card-right-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-body{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-right-body-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-right-body-heading p {
  color: transparent;
  background: linear-gradient(to right, #986f25, #fde6bd, #eec781, #a1772c);
  -webkit-background-clip: text;
  background-clip: text;
}
.card-right-body-heading div {
  background-color: #2b2212;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px;
}

.lowerMedium{
  color: #8C8C8C;
}

.card-right-body-heading div img {
  height: 26px;
  width: 26px;
}

.profile-footer-card-right button {
  padding: 12px 14px 12px 14px;
  border-radius: 10px;
  background: linear-gradient(to right, #e6c486, #f0d39f, #ba944f);
  outline: none;
  border: none;
  color: black;
}
