<div class="body">
  <div class="header">
    <div class="header-content">
      <img src="/svg/head.svg" alt="diamond" />
      <div class="header-button">
        <p class="view-more gold">Buy Diamond Token</p>
        <div class="language">
          <img
            src="/svg/TranslateIcon.svg"
            alt="translate"
            style="width: 20px; height: 20px"
          />
          <p class="view-more">English</p>
          <img
            src="/svg/Vec.svg"
            alt="down"
            style="width: 20px; height: 10px"
          />
        </div>
        <p class="view-more logout">Logout</p>
      </div>
    </div>
    <div class="margin-line"></div>
    <img src="/svg/header glow.svg" alt="glow" class="glow" />
  </div>
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-header-content">
        <div class="title">Profile & Access Details</div>
        <div class="regular">
          Access your exclusive profile, wallet balance, and membership status -
          all curated for your premium experience
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="profile-cards">
        <div class="profile-card-section">
          <p class="profile-card-title">Wallet address</p>
          <div>
            <p class="profile-card-subtitle">0x4a5F...93e6</p>
            <img src="/svg/Frame.svg" alt="frame" />
          </div>
        </div>
        <div class="profile-card-section">
          <p class="profile-card-title">Diamond Token Balance</p>
          <p class="profile-card-subtitle">-</p>
        </div>
        <div class="profile-card-section">
          <p class="profile-card-title">Joined</p>
          <p class="profile-card-subtitle">06/05/2025</p>
        </div>
      </div>
      <div class="profile-footer-cards">
        <div class="profile-footer">
          <div class="profile-info">
            <div class="profile-info-title">
              <p class="profile-card-title">Personal Information</p>
              <div>
                <img src="/svg/Edit02Icon.svg" alt="edit" />
              </div>
            </div>
            <div class="profile-info-content">
              <div class="profile-info-content-card">
                <div class="profile-info-content-title">
                  <p class="medium titles">Display Name</p>
                </div>
                <div>
                  <p class="medium subtitles">luna_velaria</p>
                </div>
              </div>
              <div class="profile-info-content-card">
                <div class="profile-info-content-title">
                  <p class="medium titles">First Name</p>
                </div>
                <div>
                  <p class="medium subtitles">Louis Natasha</p>
                </div>
              </div>
              <div class="profile-info-content-card">
                <div class="profile-info-content-title">
                  <p class="medium titles">Last Name</p>
                </div>
                <div>
                  <p class="medium subtitles">-</p>
                </div>
              </div>
              <div class="profile-info-content-card">
                <div class="profile-info-content-title">
                  <p class="medium titles">Email</p>
                </div>
                <div class="profile-social-button">
                  <div class="medium subtitles">lunavelaria&#64;gmail.com</div>
                  <div class="social-button">
                    <p class="small-medium">linked with</p>
                    <div>
                      <img src="/svg/icons8-google 1.svg" alt="google" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-image">
            <img src="/svg/Group.svg" alt="group" />
          </div>
        </div>
        <div class="profile-footer-card-right">
          <div class="card-right-header">
            <p class="profile-card-title">Community Access</p>
          </div>
          <div class="card-right-body">
            <div class="card-body">
              <div class="card-right-body-heading">
                <div>
                  <img src="/svg/free.svg" alt="" />
                </div>
                <p class="upperCase">FREE MEMBER</p>
              </div>
              <div class="card-right-body-content">
                <p class="lowerMedium">
                  Get started with a free account. Browse perks, discover
                  events, and
                </p>
                <p class="lowerMedium">
                  engage with the community. Upgrade anytime to unlock exclusive
                </p>
                <p class="lowerMedium">benefits and luxury access.</p>
              </div>
              <button class="button">Become Member</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
