<div class="body">
  <div class="membership-container">
    <div class="header">
      <div class="header-title">
        <p class="sub-title">Membership</p>
      </div>
      <div>
        <p class="regular">
          From early access to purchases to exclusive offers and digital
          ownership, your membership opens the door to the full Diamond Club
          experience.
        </p>
      </div>
    </div>
    <div>
      <div class="wrap">
        <div class="row">
          <div class="card-red">
            <div class="card-header">
              <div class="card-title">
                <div class="card-logo">
                  <img
                    src="/svg/Red Diamond.svg"
                    alt="Red Diamond"
                    style="width: 56px; height: 56px"
                  />
                  <div class="red-membership-button">
                    <p class="membership-button">1 Membership</p>
                  </div>
                </div>
                <div class="title-content">
                  <p class="membership-title red-title">RED DIAMOND</p>
                  <p class="membership-time">Member since 06/03/2022</p>
                </div>
              </div>
              <p class="membership-price">€9,000</p>
            </div>
            <div class="sale-button-red">
              <p class="membership-sale-button red-button">
                Join the Pre - Sale
              </p>
            </div>
            <div class="line"></div>
            <div class="footer-content">
              <p class="membership-list-header">Membership Perks</p>
              <ul>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Total value of €20,000 in membership benefits
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes €10,000 worth of Diamond Tokens backed by diamond
                    jewelry
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes a Red Diamond NFT valued at €10,000
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Exclusive to pre-sale members only
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-blue">
            <div class="card-header">
              <div class="card-title">
                <div class="card-logo">
                  <img
                    src="/svg/Blue Diamond.svg"
                    alt="Blue Diamond"
                    style="width: 56px; height: 56px"
                  />
                </div>
                <div class="title-content">
                  <p class="membership-title blue-title">BLUE DIAMOND</p>
                  <p class="membership-time">Membership</p>
                </div>
              </div>
              <p class="membership-price">€2,250</p>
            </div>
            <div class="sale-button blue-button">
              <p class="membership-sale-button">
                <span class="blue-title">Join the Pre - Sale </span>
              </p>
            </div>
            <div class="line"></div>
            <div class="footer-content">
              <p class="membership-list-header">Membership Perks</p>
              <ul>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Total value of €5,000 in membership benefits
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes €2,500 worth of Diamond Tokens backed by diamond
                    jewelry
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes a Blue Diamond NFT valued at €2,500
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Exclusive to pre-sale members only
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-green">
            <div class="card-header">
              <div class="card-title">
                <div class="card-logo">
                  <img
                    src="/svg/Green Diamond.svg"
                    alt="Green Diamond"
                    style="width: 56px; height: 56px"
                  />
                </div>
                <div class="title-content">
                  <p class="membership-title green-title">GREEN DIAMOND</p>
                  <p class="membership-time">Membership</p>
                </div>
              </div>
              <p class="membership-price">€450</p>
            </div>
            <div class="sale-button green-button">
              <p class="membership-sale-button">
                <span class="green-title">Join the Pre - Sale </span>
              </p>
            </div>
            <div class="line"></div>
            <div class="footer-content">
              <p class="membership-list-header">Membership Perks</p>
              <ul>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Total value of €1,000 in membership benefits
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes €500 worth of Diamond Tokens backed by diamond
                    jewelry
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes a Green Diamond NFT valued at €500
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Exclusive to pre-sale members only
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row-bottom">
          <div class="card-gold">
            <div class="card-header">
              <div class="card-title">
                <div class="card-logo">
                  <img
                    src="/svg/Black Diamond.svg"
                    alt="Black Diamond"
                    style="width: 56px; height: 56px"
                  />
                </div>
                <div class="title-content">
                  <p class="membership-title gold-title">BLACK DIAMOND</p>
                  <p class="membership-time">Member since 06/03/2022</p>
                </div>
              </div>
              <p class="membership-price">€225</p>
            </div>
            <div class="sale-button gold-button">
              <p class="membership-sale-button">
                <span class="gold-title">Join the Pre - Sale </span>
              </p>
            </div>
            <div class="line"></div>
            <div class="footer-content">
              <p class="membership-list-header">Membership Perks</p>
              <ul>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Total value of €500 in membership benefits
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes €250 worth of Diamond Tokens backed by diamond
                    jewelry
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Includes a Black Diamond NFT valued at €250
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Exclusive to pre-sale members only
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-silver">
            <div class="card-header">
              <div class="card-title">
                <div class="card-logo">
                  <img
                    src="/svg/Flawless Diamond.svg"
                    alt="Flawless Diamond"
                    style="width: 56px; height: 56px"
                  />
                </div>
                <div class="title-content">
                  <p class="membership-title silver-title">RED DIAMOND</p>
                  <p class="membership-time">VIP Membership</p>
                </div>
              </div>
              <p class="membership-price">Individual</p>
            </div>
            <div class="sale-button silver-button">
              <p class="membership-sale-button">
                <span class="silver-title">Join the Pre - Sale </span>
              </p>
            </div>
            <div class="line"></div>
            <div class="footer-content">
              <p class="membership-list-header">Membership Perks</p>
              <ul>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    To Be Negotiated: Exclusive benefits and terms tailored to
                    each member
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Limited Edition: Only 1,000 Flawless Diamond Memberships
                    available
                  </p>
                </li>
                <li>
                  <img src="/svg/Frame (1).svg" alt="tick" />
                  <p class="membership-list">
                    Ownership Benefit: Each membership represents 0.1% of the
                    economic rights in Diamond Club
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-transparent"></div>
        </div>
      </div>
    </div>
  </div>
</div>
