<div class="container">
  <div class="header">
    <p class="regular uppercase">Learn more. Invest early.</p>
    <p class="sub-title">The Diamond Club Advantage</p>
  </div>
  <div class="cards">
    <div class="card-container">
      <div class="card-content">
        <div class="content-header">
          <p class="club-title">Presale</p>
          <p class="club-subtitle">
            Join the early investor circle and unlock exclusive perks and
            Diamond Token bonuses
          </p>
        </div>
        <div class="content-footer">
          <div class="bottom-line">
            <p class="regular sale">Join Presale</p>
            <img
              src="/svg/ArrowRight02Icon.svg"
              alt="arrow"
              style="height: 24px; width: 24px"
            />
          </div>
        </div>
      </div>
      <img src="/svg/Ellipse 5.svg" alt="radial" class="radial" />
      <img src="/svg/Frame 2008 (1).svg" alt="frame" class="frame" />
      <img src="/svg/Rectangle 39781.svg" alt="shape" class="shape" />
    </div>
    <div class="card-container">
      <div class="card-content">
        <div class="content-header">
          <p class="club-title">Diamond Store</p>
          <p class="club-subtitle">
            Shop exclusive diamond pieces and digital assets at ourDiamond Club
            Shop
          </p>
        </div>
        <div class="content-footer">
          <div class="bottom-line">
            <p class="regular sale">Browse Collection</p>
            <img
              src="/svg/ArrowRight02Icon.svg"
              alt="arrow"
              style="height: 24px; width: 24px"
            />
          </div>
        </div>
      </div>
      <img src="/svg/Ellipse 5.svg" alt="radial" class="radial" />
      <img src="/svg/Frame 2008 (1).svg" alt="frame" />
      <img src="/svg/Rectangle 39781.svg" alt="shape" class="shape" />
    </div>
  </div>
</div>
